.container
  %h1 Dashboard
.container.black-frame.pad20
  .container.blank.black-frame#blank-graph
    .float-right
      %button.btn-default.btn#split-vertically
        = fa_icon 'columns'
      %button.btn-default.btn#split-horizontally
        = fa_icon 'columns', class: 'fa-rotate-270'
